<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjWfaTaskSoft.Properties.Settings.tasksoftbdConnectionString"
            connectionString="server=localhost;user id=alunos;password=etec;persistsecurityinfo=False;database=tasksoftbd"
            providerName="MySql.Data.MySqlClient" />
        <add name="PrjWfaTaskSoft.Properties.Settings.conexãoBanco" connectionString="server=localhost;user id=alunos;password=etec;database=tasksoftbd"
            providerName="MySql.Data.MySqlClient" />
        <add name="PrjWfaTaskSoft.Properties.Settings.dtEtec" connectionString="server=localhost;user id=alunos;password=123;persistsecurityinfo=True;database=tasksoftbd"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>